<section class="presentation">
    <div class="presentation__content">
        <h1>Welcome to Quorum</h1>
        <p>
            Start creating your polls or voting.
            How do you want to start?
            Tell us your next step!
        </p>
        
        <a routerLink="/about">
            Or read about us if you would rather!
        </a>
    </div>
</section>

<section class="options">
    <div class="options__box">
        <h2>📢 Create New Poll</h2>
        <p>Create a poll from scratch.</p>

        <button type="submit" routerLink="/polls/create">
            Start creating
        </button>
    </div>

    <div class="options__box">
        <h2>🔍 Find Poll</h2>
        <p>Find an existing poll to vote and predict!</p>

        <input type="text" placeholder="paste an existing poll code here..." [(ngModel)]="pollId">

        <button (click)="findPoll()" type="submit">
            Find
        </button>
    </div>
</section>