.input {
  width: 100%;
  padding: 0.5rem;
  
  border: 1px solid #ccc;
  border-radius: 4px;
  
  font-size: 1rem;

  margin-bottom: 1rem;
}

.input:focus {
  border-color: #4f46e5;
  outline: none;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.input::placeholder {
  color: #9ca3af;
  font-style: italic;
}