.presentation__text-center {
    text-align: center;
}

.options {
    display: grid;
    max-width: 600px; 
    
    margin: 0 auto;

    padding: 30px;
}

.options__card {
    width: 100%;

    border-radius: 10px;
    border: 1px solid #4f46e5;

    margin: 10px auto;
    padding: 20px;

    transition: transform 0.3s ease-in-out;
}

.options__card:hover {
    transform: scale(1.01);
}